<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="google-site-verification" content="mcF82KlfjNhVCxx6B_s8viTcDKBgQQRw5Irkpr1jCPc" />
    <meta name="yandex-verification" content="d0bfac41a1e1bbfc" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="website" property="og:type" data-react-helmet="true" />
    <meta content="<%= htmlWebpackPlugin.options.description %>" property="og:description" data-react-helmet="true" />
    <meta content="<%= htmlWebpackPlugin.options.description %>" name="description" data-react-helmet="true" />
    <meta content="https://gw2armory.com<%= require('./assets/images/logo.png') %>" property="og:image" data-react-helmet="true" />

    <% for(var i = 0; i < htmlWebpackPlugin.options.pwaMeta.length; i++) {%>
      <<%= htmlWebpackPlugin.options.pwaMeta[i][0] %> content="<%= htmlWebpackPlugin.options.pwaMeta[i][1].content %>" name="<%= htmlWebpackPlugin.options.pwaMeta[i][1].name %>" />
    <% } %>

    <title><%= htmlWebpackPlugin.options.title %></title>

    <link rel="manifest" href="<%= require('!!file-loader?name=[name]--[hash:8].json!web-app-manifest-loader!./manifest.json') %>">
    <link rel="search" type="application/opensearchdescription+xml" title="<%= htmlWebpackPlugin.options.title %> search" href="<%= require('file-loader?name=[name]--[hash:8].xml!./opensearch.xml') %>" />
    <link rel="shortcut icon" href="<%= require('./assets/images/favicons/favicon.ico') %>" />
    <link rel="icon" type="image/png" href="<%= require('./assets/images/favicons/favicon-16.png') %>" sizes="16x16" />
    <link rel="icon" type="image/png" href="<%= require('./assets/images/favicons/favicon-32.png') %>" sizes="32x32" />
    <link rel="apple-touch-icon" href="<%= require('./assets/images/favicons/favicon-app.png') %>" />
    <link rel="android-touch-icon" href="<%= require('./assets/images/favicons/favicon-app.png') %>" />
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>

    <span id="root"></span>
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-69365005-1','auto');</script>
  </body>
</html>
